
.page-header {
    width: 90%;
    background-image: var(--header-background);
    border-radius: 5em;
    margin: 2em auto;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.logo {
    height: 2em;
    margin-left: 5em;
}

.btn-gallery, 
.btn-user-memes,
.btn-user-creations {
    border-radius: 10em;
    border: none;
    font-size: 1em;
    color: var(--header-btn-font);
    font-family: poppins;
    width: 150px;
    height: 50px;
    padding: 0.2em;
    margin: 0;
    margin-left:2em;
    box-shadow: 10px, 10px, 5px black;
}

.btn-about {
    color: white;
    background: none;
    font-size: 2em;
    border: none;
}